.box1 {
    background-color: #66b2b2;
    border: 10px solid black;
    padding: 20px;
    width: 200px;
}

.box2 {
    background-color: #ffcc00;
    border: 20px solid black;
    border-width: 20px;    
    height: 200px;
    width: 200px;
    margin-left: 260px;
}

.box3 {
    background-color: #cc6666;
    border: 10px solid black;
    height: 200px;
    width: 240px;
}