<section id="about" class="section">
    <h2 class="section-title">About Me</h2>
    <p>Hi! I’m Alex (Yunfei) Tian, an international student from China with a strong passion for technology and innovation. 
        I hold an undergraduate degree in Electrical Engineering and have been honored on the Dean’s Honour Roll, 
        receiving multiple International Student Scholarships in recognition of my academic excellence.
        Currently, I am pursuing a Master of Applied Science at the University of Victoria, 
        where I focus on Data Science and Artificial Intelligence, particularly Machine Learning and Deep Learning. 
        Beyond my core focus, I have a keen interest in Robotics, Embedded Systems, and the Internet of Things (IoT), 
        and I am excited about exploring their intersection with AI to solve real-world challenges.
    </p>
</section>