<section id="projects" class="section">
  <h2 class="section-title">Projects and Research</h2>

  <div class="projects-grid">
    <!-- Project 1 -->
    <div class="project-card">
      <a href="https://github.com/alextianyf/Gradient-Descent-Insights-into-Behavior-and-Optimization-Challenges" target="_blank" class="project-link">
        <div class="card-image-container bg-image" style="background-image: url('static/images/projects/gradient-descent/gradient-descent-study.png');">
          <div class="card-text">
            <h3>Gradient Descent Study</h3>
            <p>Behavior and Optimization Challenges</p>
          </div>
        </div>
      </a>
    </div>

    <!-- Project 2 -->
    <div class="project-card">
      <div class="card-image-container bg-image" style="background-image: url('static/images/projects/rc-car/sample.png');">
        <div class="card-text">
          <h3>Project2 Title</h3>
          <p>Short intro about Project 2</p>
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="project-card">
      <div class="card-image-container bg-image" style="background-image: url('static/images/projects/rc-car/sample.png');">
        <div class="card-text">
          <h3>Project3 Title</h3>
          <p>Short intro about Project 3</p>
        </div>
      </div>
    </div>

    <!-- Project 4 -->
    <div class="project-card">
      <div class="card-image-container bg-image" style="background-image: url('static/images/projects/rc-car/sample.png');">
        <div class="card-text">
          <h3>Project4 Title</h3>
          <p>Short intro about Project 4</p>
        </div>
      </div>
    </div>
  </div>

  <a class="render_anchor" href="projects_page.html">More Projects</a>
</section>