<section id="contact" class="section">
    <div class="container mt-3">
        <h2 class="section-title">Contact Me</h2>
        <form name="contact" method="POST" data-netlify="true" netlify-honeypot="bot-field">
            <input type="hidden" name="form-name" value="contact" />
            <p style="display:none">
                <label>Don't fill this out if you're human: <input name="bot-field" /></label>
            </p>

            <div class="mb-3 mt-3">
                <input type="text" class="form-control" id="name" placeholder="Enter name" name="name" required>
            </div>
            <div class="mb-3 mt-3">
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email" required>
            </div>
            <div class="mb-3">
                <textarea class="form-control" id="message" placeholder="Enter message" name="message" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">SEND</button>
        </form>
    </div>
</section>