<!DOCTYPE html>
<html lang="en">
<head>
    {% block tester %}
    {% include "header.html" %}
    {% endblock %}  
    <!--Load styles-->
    <link rel="stylesheet" href="static/body_style.css">
    <link rel="stylesheet" href="static/nav-bar.css">
    <link rel="stylesheet" href="static/subpage-image-header.css">
    <link rel="stylesheet" href="static/contactme.css">
    <link rel="stylesheet" href="static/footer.css">
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">Contact Page</div>
        <ul class="navbar-link">
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="projects_page.html">Projects</a></li>
        </ul>
    </nav>

    <!-- Header Section -->
    <header class="subpage-image-header">
        <img src="static/images/contactme_background.jpg" alt="Background" class="background-image">
        <div class="container">
            <h1>Contact Me</h1>
        </div>
    </header>


    {% block contactSection %}
    {% include "contact_section.html" %}
    {% endblock %}
    
</body>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
</html>