<!DOCTYPE html>
<html lang="en">
<head>
    {% block tester %}
    {% include "header.html" %}
    {% endblock %}   
    <!--Load styles-->
    <link rel="stylesheet" href="static/body_style.css">
    <link rel="stylesheet" href="static/nav-bar.css">
    <link rel="stylesheet" href="static/subpage-image-header.css">
    <link rel="stylesheet" href="static/projects-page.css">
    <link rel="stylesheet" href="static/footer.css">
<body>
    <!-- Navbar -->
    <nav class="navbar">
        <div class="navbar-brand">Projects and Research</div>
        <ul class="navbar-link">
            <li class="nav-item"><a href="index.html">Home</a></li>
            <li class="nav-item"><a href="contact_page.html">Contact</a></li>
        </ul>
    </nav>

    <!-- Header Section -->
    <header class="subpage-image-header">
        <img src="static/images/projects_background.jpg" alt="Background" class="background-image">
        <div class="container">
            <h1>Here are my passion and love for engineering</h1>
            <p>This is what I do.</p>
        </div>
    </header>

    <!-- Main Content Section -->
    <section class="page-section">
        <!-- Project Intro Section -->
        <div class="page-container">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, 
                fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur maxime.</p>
        </div>
        
        <!-- Project Display Cards Section -->
        <ul class="Project-cards">
            <div class="project_container">
                <div class="proj1_image">
                    <img class="project_image" src="static/images/sample.png" alt="Alex">
                </div>
                <div class="proj1_content">
                    <p class="proj_title"><b>Project One</b></p>
                    <hr>
                    <p class="proj_summary">This is a sample paragraph for Project One. 
                        It summarizes the main objectives and outcomes of the project, 
                        highlighting the key features and results achieved. The purpose of this project was to demonstrate
                        the application of various web development techniques to create a visually appealing and functional webpage.
                    </p>
                </div>
            </div>
    
            <div class="project_container">
                <div class="proj2_image">
                    <img class="project_image" src="static/images/sample.png" alt="Alex">
                </div>
                <div class="proj2_content">
                    <p class="proj_title"><b>Project One</b></p>
                    <hr>
                    <p class="proj_summary">This is a sample paragraph for Project One. 
                        It summarizes the main objectives and outcomes of the project, 
                        highlighting the key features and results achieved. The purpose of this project was to demonstrate
                        the application of various web development techniques to create a visually appealing and functional webpage.
                    </p>
                </div>
            </div>
    
            <div class="project_container">
                <div class="proj3_image">
                    <img class="project_image" src="static/images/sample.png" alt="Alex">
                </div>
                <div class="proj3_content">
                    <p class="proj_title"><b>Project One</b></p>
                    <hr>
                    <p class="proj_summary">This is a sample paragraph for Project One. 
                        It summarizes the main objectives and outcomes of the project, 
                        highlighting the key features and results achieved. The purpose of this project was to demonstrate
                        the application of various web development techniques to create a visually appealing and functional webpage.
                    </p>
                </div>
            </div>
        </ul>
    </section>
</body>
{% block footer %}
{% include "footer.html" %}
{% endblock %}
</html>