<section id="about" class="section">
    <h2 class="section-title">About Me</h2>
    <p>My name is Alex (Yunfei) Tian, and I am an international student from China. 
        I hold an undergraduate degree in Electrical Engineering and have been recognized on the Dean's Honour Roll, 
        receiving multiple International Student Scholarships. 
        Currently, I am pursuing a Master of Applied Science at the University of Victoria, 
        with a primary academic focus on Artificial Intelligence. 
        My areas of interest also include Robotics, Embedded Systems, and the Internet of Things.
    </p>
</section>