<!DOCTYPE html>
<html lang="en">
<head>
{{ header }}
<!--Loading Styles-->
<link rel="stylesheet" href="static/body_style.css">
<link rel="stylesheet" href="static/nav-bar.css">
<link rel="stylesheet" href="static/styles.css">
<link rel="stylesheet" href="static/nav-bar.css">
<link rel="stylesheet" href="static/footer.css">
<link rel="stylesheet" href="static/contactme.css">
</head>

<body>
<!-----------------Nav bar section--------------->
{{ nav-bar }}

<main>
<!-----------------profile section---------------->
{{ profile }}

<!-----------------About me section---------------->
{{ aboutme }}

<!-----------------Skills section---------------->
{{ skills }}

<!-----------------Projects section---------------->
{{ projects }}

<!-----------------Contact section---------------->
{{ contact }}

</main>

</body>

{{ footer }}

</html>