<section id="skills" class="section">
    <h2 class="section-title">Skills</h2>
    <ul class="content-section">
        <li class="background"><b>Programming Languages:</b>
            Multiple years of experience in C, C++, Python.
        </li>
        <li class="background"><b>Artificial Intelligence:</b> 
            Machine Learning, Neural Networks
        </li>
        <li class="background"><b>Microcontroller Programming:</b> 
            Experienced in register-level programming for ARM Cortex or A73, Atmel, ESP32, PIC, and 8051 microcontrollers.
        </li>
        <li class="background"><b>Real-Time Operating Systems (RTOS):</b>
            Proficient in using Robot Operating System (ROS2), Linux, FreeRTOS, MicroC/OS-III, and Open Harmony.
        </li>
        <li class="background"><b>Communication Protocols:</b>
            Skilled in I2C, SPI, UART, TCP/IP, USB, RS232, RS485, CAN, Bluetooth, WiFi, and MQTT.
        </li>
        <li class="background"><b>Circuit Design and Simulation:</b>
            Skilled in circuit design and simulation using LTspice.
        </li>
        <li class="background"><b>PCB Design:</b>
            Extensive experience in PCB design using KiCAD and other EDA Tools.
        </li>
        <li class="background"><b>3D Modelling and Simulation:</b> 
            Experienced in 3D modeling and simulation with SolidWorks and Fusion 360.
        </li>
        <li class="background"><b>Development Tools:</b> 
            Proficient in using version control tools such as Git and the debugging tool GDB.
        </li>
        <li class="background"><b>Lab Testing Equipments:</b> 
            Experienced with oscilloscopes, multimeters, power supplies, soldering equipment, and logical analyzers.
        </li>
    </ul>
</section>