<section id="skills" class="section">
    <h2 class="section-title">Skills</h2>
    <ul class="content-section">
        <li class="background"><b>Programming Languages:</b>
            Proficient in C, C++, and Python with multiple years of experience in software development.
        </li>
        <li class="background"><b>Artificial Intelligence:</b> 
            Familiar with machine learning and deep learning concepts. Hands-on experience with frameworks like Scikit-learn and PyTorch.
        </li>
        <li class="background"><b>Embedded Systems & Microcontrollers:</b> 
            Skilled in register-level programming for ARM Cortex-A73, Atmel, ESP32, PIC, and 8051 microcontrollers.
        </li>
        <li class="background"><b>Real-Time Operating Systems (RTOS):</b>
            Proficient in ROS2, Linux, FreeRTOS, MicroC/OS-III, and Open Harmony for real-time applications.
        </li>
        <li class="background"><b>Communication Protocols:</b>
            Experienced with a range of protocols, including
            <ul>
                <li>I2C, SPI, UART</li>
                <li>TCP/IP, USB, RS232, RS485</li>
                <li>CAN, Bluetooth, WiFi, MQTT</li>
            </ul>
        </li>
        <li class="background"><b>Hardware Design:</b> 
            <ul>
                <li><b>Circuit Design & Simulation:</b> Skilled in LTspice for analysis and testing.</li>
                <li><b>PCB Design:</b> Extensive experience with KiCAD, EasyEDA and other EDA tools.</li>
            </ul>
        </li>
        <li class="background"><b>3D Modeling & Simulation:</b> 
            Proficient in SolidWorks and Fusion 360 for designing and simulating mechanical components.
        </li>
        <li class="background"><b>Development & Debugging Tools:</b> 
            Experienced in version control (Git) and debugging using GDB.
        </li>
        <li class="background"><b>Lab Testing Equipments:</b> 
            Familiar with oscilloscopes, multimeters, power supplies, soldering equipment, and logic analyzers.
        </li>
    </ul>
</section>