footer {
    width: 100%;
    padding: 10px 0;
    background-color: gray;
    text-align: center;
    height: 13vh;
}

footer .content{
    font-size: 18px;
    font-weight: 300;
    background-color: gray;
}

.footer_icon_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: gray;
    align-items: center;
    gap: 50px;
    max-width: 150px;
    margin: 30px auto;
    padding: 0 10px;
}

.footer_icon{
    height: 32px;
    width: 32px;
}

/*
--------------------------Tablet Size Responsive Sectinn--------------------
NOTE: 800x to 1200px
1. Change the nav-bar font size
2. Image and Image section Font size
3. Mean section Width
4. Mean Section Font size
5. Project Image size
6. Project Project anchor link Font size
7. Footer Height
8. Footer Icon Size
9. Footer Font Size
*/

@media (max-width: 1200px){
    footer {
        height: 9vh;
    }

    footer .content{
        font-size: 14px;
    }

    .footer_icon_section {
        gap: 40px;
        margin: 15px auto;
    }

    .footer_icon{
        height: 24px;
        width: 24px;
    }
}

/*
--------------------------Tablet Size Responsive Sectinn--------------------
NOTE: 800x to 1200px
1. Change the nav-bar font size
2. Image and Image section Font size
3. Mean section Width
4. Mean Section Font size
5. Project Image size
6. Project Project anchor link Font size
7. Footer Height
8. Footer Icon Size
9. Footer Font Size
*/

@media (max-width: 800px){
    footer {
        height: 10vh;
        background-color: white;
    }

    footer .content{
        font-size: 12px;
        color: black;
        background-color: white;
    }

    .footer_icon_section {
        gap: 30px;
        margin: 10px auto;
        background-color: white;
    }

    .footer_icon{
        height: 24px;
        width: 24px;
    }
}