footer {
    width: 100%;
    padding: 10px 0;
    background-color: gray;
    text-align: center;
    height: 13vh;
}

footer .content{
    font-size: 18px;
    font-weight: 300;
}

.footer_icon_section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 50px;
    max-width: 150px;
    margin: 30px auto;
    padding: 0 10px;
}

.footer_icon{
    height: 32px;
    width: 32px;
}