body,html {
    background-color: black;
    color: white;
}

/*
--------------------------Computer Size Responsive Section--------------------
NOTE: above 1200px
1. Change the nav-bar font size
2. Image and Image section Font size
3. Mean section Width
4. Mean Section Font size
5. Project Image size
*/

/*----------------------Set section Layout-----------------------------*/
.section {
    max-width: 1200px;
    margin: 50px auto;
    padding: 0 20px;
}

.section .section-title {/*Title: About Me, Skill, Projects and Research*/
    font-size: 1.5em;
    margin-bottom: 20px;
}

/*Set aboutme and Skill content font size*/
.section p, .section ul {
    font-size: 1em;
    font-weight: 280;
}

/*----------------------Home image section-----------------------------*/
.home-container {
    display: grid;
    grid-template-columns: 3fr 4fr;
    align-items: center;
    gap: 40px;
    max-width: 1200px;/*Set school content width*/
    margin: 40px auto;
    padding: 0 20px;
}

.home-image img {
    width: 120%;
    height: auto;
}

.home-content .title {
    font-size: 1.3em;
    font-weight: 350;
    margin-bottom: 10px;
}

.home-content .name-section {
    font-size: 2.3em;
    margin: 0;
}

.home-content .name-section .name {
    color: #ff004f;
    font-family: "Playwrite DK Loopet", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

.home-content .school {
    font-size: 1.5em;
    margin: 10px 0 0;
}

/*----------------------About me section-----------------------------*/
#about p{
    text-indent: 4%;
}


/*----------------------Skill section-----------------------------*/
#skills .content-section .background {/*Set bullet point grey background*/
    background: #222;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}


/*----------------------Project section-----------------------------*/
#projects h2{
    margin-bottom: 5%;
}

.centered-image {
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner img {
    border-radius: 15px;
}

.carousel-caption {
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    color: white;
    padding: 10px;
}

.carousel-indicators li {
    background-color: transparent;
    border: 1px solid white;
    width: 20px;
    height: 0.1px;
}

.carousel-control-prev, .carousel-control-next {
    background-color: transparent; /* Remove default background color */
}

.carousel-control-prev:hover, .carousel-control-next:hover {
    background-color: transparent; /* Ensure background remains transparent on hover */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-color: transparent; /* Ensure icons have a transparent background */
}

.render_anchor{
    color: #969696;
    text-decoration: none; /* Remove underline */
    font-weight: bold; /* Bold text */
    font-style: italic;
    font-size: 20px; /* Font size */
    margin-top: 5%;
    display: block; /* Ensures the margin applies correctly */
}

.render_anchor:hover {
    color: white; /* Change text color on hover */
}


/*

--------------------------Tablet Size Responsive Sectinn--------------------
NOTE: 800x to 1200px
1. Change the nav-bar font size
2. Image and Image section Font size
3. Mean section Width
4. Mean Section Font size
5. Project Image size
6. Project Project anchor link Font size
7. Footer Height
8. Footer Icon Size
9. Footer Font Size
*/

@media (max-width: 1200px){
    /*main section size */
    .section {
        max-width: 750px;
    }

    /*image size*/
    .home-image img {
        width: 100%;
    }

    /*Set home Image section Font*/
    .home-container{
        max-width: 750px;/*Set school content width*/
    }
    .home-content .title {
        font-size: 0.9em;
    }
    .home-content .name-section {
        font-size: 1.6em;
    }
    .home-content .school {
        font-size: 1.1em;
    }

    /*Set main content Size font size*/
    .section .section-title {/*Title: About Me, Skill, Projects and Research*/
        font-size: 1em;
    }
    .section p, .section ul {/*Set aboutme and Skill content font size*/
        font-size: 0.8em;
    }

    /*Project image section*/
    .carousel-inner img {
        width: 45%;
        height: 45%;
    }

    /*Project Anchor Link Font Size*/
    .render_anchor{
        font-size: 15px; /* Font size */
    }

}


/*

--------------------------Tablet Size Responsive Sectinn--------------------
NOTE: 450x to 800px
1. Change the nav-bar font size
2. Image and Image section Font size
3. Mean section Width
4. Mean Section Font size
5. Project Image size
6. Project Project anchor link Font size
7. Footer Height
8. Footer Icon Size
9. Footer Font Size
*/

@media (max-width: 800px){

    /*Change layout to up and down*/
    .home-container {
        display: flex;
        flex-direction: column; /* Use column for up-and-down layout */
        justify-content: center; /* Centers items vertically within the flex container */
        align-items: center; /* Centers items horizontally within the flex container */
        text-align: center;
    }
    
    .home-content {
        order: 1; /* Ensure content appears first */
        margin-bottom: 10px; /* Add some space between the content and the image */
    }
    
    .home-image {
        order: 2; /* Ensure image appears second */
    }
    
    .home-image img {
        max-width: 100%; /* Ensure the image does not exceed its container */
        height: auto; /* Maintain the aspect ratio */
    }
    
    /*main section size */
    .section {
        max-width: 500px;
    }

    /*image size*/
    .home-image img {
        width: 75%;
    }

    /*Set home Image section Font*/
    .home-content .title {
        font-size: 0.7em;
    }
    .home-content .name-section {
        font-size: 1em;
    }
    .home-content .school {
        font-size: 0.9em;
    }

    /*Set main content Size font size*/
    .section .section-title {/*Title: About Me, Skill, Projects and Research*/
        font-size: 0.8em;
    }
    .section p, .section ul {/*Set aboutme and Skill content font size*/
        font-size: 0.6em;
    }

    /*Project Anchor Link Font Size*/
    .render_anchor{
        font-size: 15px; /* Font size */
    }

}


/*
--------------------------Tablet Size Responsive Sectinn--------------------
NOTE: Below 450x
1. Change the nav-bar font size
2. Image and Image section Font size
3. Mean section Width
4. Mean Section Font size
5. Project Image size
6. Project Project anchor link Font size
7. Footer Height
8. Footer Icon Size
9. Footer Font Size
*/
@media (max-width: 450px){
    /*Change layout to up and down*/
    .home-container {
        display: flex;
        flex-direction: column; /* Use column for up-and-down layout */
        justify-content: center; /* Centers items vertically within the flex container */
        align-items: center; /* Centers items horizontally within the flex container */
        text-align: center;
    }
    
    .home-content {
        order: 1; /* Ensure content appears first */
        margin-bottom: 0; /* Add some space between the content and the image */
    }
    
    .home-image {
        order: 2; /* Ensure image appears second */
    }
    
    .home-image img {
        max-width: 100%; /* Ensure the image does not exceed its container */
        height: auto; /* Maintain the aspect ratio */
    }

    /*main section size */
    .section {
        max-width: 350px;
    }

    /*image size*/
    .home-image img {
        width: 65%;
    }

    /*Set home Image section Font*/
    .home-container{
        max-width: 350px;/*Set school content width*/
    }
    .home-content .title {
        font-size: 0.65em;
    }
    .home-content .name-section {
        font-size: 1em;
    }
    .home-content .school {
        font-size: 0.8em;
    }

    /*Set main content Size font size*/
    .section .section-title {/*Title: About Me, Skill, Projects and Research*/
        font-size: 0.9em;
    }
    .section p, .section ul {/*Set aboutme and Skill content font size*/
        font-size: 0.6em;
    }

    /*Project Anchor Link Font Size*/
    .render_anchor{
        font-size: 11px; /* Font size */
    }

}