<!DOCTYPE html>
<html lang="en">
<head>
{{ header }}

<!--Load styles-->
<link rel="stylesheet" href="static/body_style.css">
<link rel="stylesheet" href="static/nav-bar.css">
<link rel="stylesheet" href="static/subpage-image-header.css">
<link rel="stylesheet" href="static/projects-page.css">
<link rel="stylesheet" href="static/footer.css">
</head>

<body>

<!-- Navbar -->
{{ nav-bar }}

<!-- Header Section -->
{{ profile }}

<!-- Main Content Section -->
{{ content }}

</body>

{{ footer }}

</html>