<section class="page-section">
  <div class="project-grid">
    <!-- Project Card 1 -->
    <div class="project-card">
      <img src="static/images/projects/gradient-descent/gradient-descent-study.png" alt="Gradient Descent Project">
      <div class="card-body">
        <h3>Gradient Descent Optimizer</h3>
        <p>A deep dive into Gradient Descent via from-scratch implementations and diverse case-based explorations</p>
        <a href="https://github.com/alextianyf/Gradient-Descent-Insights-into-Behavior-and-Optimization-Challenges" target="_blank">➔ View GitHub</a>
      </div>
    </div>

    <!-- Project Card 2 -->
    <div class="project-card">
      <img src="static/images/projects/rc-car/sample.png" alt="RC Car">
      <div class="card-body">
        <h3>Autonomous RC Car</h3>
        <p>Embedded system for obstacle detection and automated navigation.</p>
        <a href="#">➔ View GitHub</a>
      </div>
    </div>

    <!-- Project Card 3 -->
    <div class="project-card">
      <img src="static/images/projects/rc-car/sample.png" alt="Project">
      <div class="card-body">
        <h3>Voltage Anomaly Detection</h3>
        <p>Clustering voltage signals to identify normal operating ranges.</p>
        <a href="#">➔ View GitHub</a>
      </div>
    </div>

    <!-- ... More cards -->
  </div>
</section>