<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Page</title>
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul class="nav-links">
                <li><a href="#about">About</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#projects">Projects</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section id="home">
            <div class="home_container">
                <div class="image">
                    <img src="static/assets/image.png" alt="Alex Tian">
                </div>
                <div class="content">
                    <p>Machine Learning Engineer</p>
                    <h1>Hi, I'm <span>Alex Tian</span></h1>
                    <h2>Master of Applied Science from University of Victoria</h2>
                </div>
            </div>
        </section>

        <section id="about" class="section">
            <h2>About Me</h2>
            <p>My name is Alex (Yunfei) Tian, and I am an international student from China. 
                I hold an undergraduate degree in Electrical Engineering and have been recognized on the Dean's Honour Roll, 
                receiving multiple International Student Scholarships. 
                Currently, I am pursuing a Master of Applied Science at the University of Victoria, 
                with a primary academic focus on Artificial Intelligence. 
                My areas of interest also include Robotics, Embedded Systems, and the Internet of Things.
        </section>
        <section id="skills" class="section">
            <h2>Skills</h2>
            <ul>
                <li><b>Programming Languages</b>: C, C++, Python, HTML, CSS</li>
                <li><b>Artificial Intelligence</b>: Machine Learning, Neural Networks</li>
                <li><b>Robotics</b>: Robot Operating System (ROS), Sensors, Actuators</li>
                <li><b>Embedded Systems</b>: Microcontrollers, RTOS, Circuit Design, PCB Design</li>
                <li><b>Internet of Things (IoT)</b>: IoT Protocols, Device Integration, Cloud Services</li>
            </ul>
        </section>

        <section id="projects" class="section">
            <h2>Projects and Research</h2>
            <ul>
                <div class="project_container">
                    <div class="proj1_image">
                        <img class="project_image" src="static/assets/sample.png" alt="Alex">
                    </div>
                    <div class="proj1_content">
                        <p class="proj_title"><b>Project One</b></p>
                        <hr>
                        <p class="proj_summary">This is a sample paragraph for Project One. It summarizes the main objectives and outcomes of the project, highlighting the key features and results achieved. The purpose of this project was to demonstrate the application of various web development techniques to create a visually appealing and functional webpage.</p>
                    </div>
                </div>

                <div class="project_container">
                    <div class="proj2_image">
                        <img class="project_image" src="static/assets/sample.png" alt="Alex">
                    </div>
                    <div class="proj2_content">
                        <p class="proj_title"><b>Project One</b></p>
                        <hr>
                        <p class="proj_summary">This is a sample paragraph for Project One. It summarizes the main objectives and outcomes of the project, highlighting the key features and results achieved. The purpose of this project was to demonstrate the application of various web development techniques to create a visually appealing and functional webpage.</p>
                    </div>
                </div>

                <div class="project_container">
                    <div class="proj3_image">
                        <img class="project_image" src="static/assets/sample.png" alt="Alex">
                    </div>
                    <div class="proj3_content">
                        <p class="proj_title"><b>Project One</b></p>
                        <hr>
                        <p class="proj_summary">This is a sample paragraph for Project One. It summarizes the main objectives and outcomes of the project, highlighting the key features and results achieved. The purpose of this project was to demonstrate the application of various web development techniques to create a visually appealing and functional webpage.</p>
                    </div>
                </div>
            </ul>
        </section>
        
        <section id="contact" class="section">
            <h2>Contact</h2>
            <p>How to get in touch with Kevin.</p>
        </section>
    </main>
</body>
<footer>
    <p>Copyright &copy; 2024 Alex Tian</p>
</footer>
</html>
